<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
	
	<section layout:fragment="default-content" class="default-content">
		<div class="admin-page">
			<div class="search-area d-flex">
				<div class="left-area"></div>
				
				<div class="input-area d-flex align-items-center justify-content-center">
					<div class="input-group mb-3">
					  <input type="text" class="form-control" placeholder="찾으실 상품을 입력해주세요." aria-label="Recipient's username" aria-describedby="button-addon2">
					  <div class="input-group-append">
					    <button class="btn btn-success" type="button" id="button-addon2">검색</button>
					  </div>
					</div>
				</div>
				
				<div class="right-area"></div>
			</div>
			
			<div class="list-page d-flex">
				<table border="1" class="table text-center">
					<thead>
						<tr>
							<th>상품 이미지</th>
							<th>상품 이름</th>
							<th>상품 가격</th>
							<th>삭제</th>
							<th>수정</th>
						</tr>
					</thead>
					<tbody>
					
						<tr th:each="products : ${productViewList}">
							<td><img width="100px" height="100px" th:src="${products.imagePath}"></td>
							<td th:text="${products.name}">[MG] 뉴건담Ver.ka</td>
							<td th:text="${products.price}">60000원</td>
							<td><button th:data-id="${products.productId}" class="delete-btn btn btn-success">삭제</button></td>
							<td><a th:href="@{/admin/modify-view/{id}(id=${products.productId})}">수정</a></td>
						</tr>
						
					</tbody>
				</table>
				
			</div>
			
			<div class="add-button">
				<button type="button" id="add-btn" class="btn btn-success">추가</button>
			</div>
		</div>
	</section>
	
	<script layout:fragment="script">
		$(document).ready(function()
		{
			$("#add-btn").on("click", function()
			{
				location.href="/admin/insert-view";
			});
			
			$(".delete-btn").on("click", function()
			{
				let productId = $(this).data("id");
				
				$.ajax
				({
					type:"post",
					url:"/admin/delete",
					data:{"productId":productId},
					success:function(data)
					{
						if(data.result == "success")
						{
							alert("삭제 성공");
							location.reload();
						}
						else
						{
							alert("삭제 실패");
						}
					}
					,error:function()
					{
						alert("삭제 에러");
					}
				});
			});
		});
	</script>
	
</html>