<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.gundamBoom.spring.user.repository.UserRepository">
	<insert id="insertUser" parameterType="map">
		INSERT INTO 
			`user`
			(
				`loginId`,
				`password`,
				`name`,
				`address`,
				`phoneNumber`
			)
			VALUE
			(
				#{loginId},
				#{password},
				#{name},
				#{address},
				#{phoneNumber}
			)
	</insert>
	
	<select id="selectUser" parameterType="map" resultType="com.gundamBoom.spring.user.domain.User">
		SELECT
			`id`,
			`loginId`,
			`password`,
			`name`,
			`address`,
			`phoneNumber`,
			`createdAt`,
			`updatedAt`
			
		FROM `user`
		
		WHERE 
			`loginId` = #{loginId}
			
		<if test="password != null">
			AND	`password` = #{password};
		</if>
		
	</select>
	
	<select id="selectCountByLoginId" parameterType="String" resultType="int">
		SELECT 
			count(*)
		FROM
			`user`
		WHERE 
			`loginId` = #{loginId};
	</select>
</mapper>