<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
      
      <section layout:fragment="default-content" class="default-content">
	    
	    <div class="category-area mt-5 d-flex flex-wrap">
	    	<div class="products" th:each="products : ${productViewList}" th:if="${products.category}">
	    		<div class="ml-3 mr-3 image-area d-flex justify-content-center">
	    			<img class="mt-4" width="200px" height="200px" th:src="${products.imagePath}">
	    		</div>
	    			    
	    		<div class="name-area d-flex justify-content-center mt-2" th:text="${products.name}"></div>
	    	
	    		<div class="price-area d-flex justify-content-center mt-2" th:text="|${products.price}원|"></div>			
	    	</div>
	    </div>
      </section>
</html>