<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
      
      <section layout:fragment="default-content" class="default-content">
      	<article class="info-area d-flex justify-content-start align-items-start">
      		<div class="product-area d-flex align-items-center">
      			<table border="1" class="table text-center">
      				<thead>
      					<tr>
      						<th>상품 이미지</th>
      						<th>상품 이름</th>
      						<th>상품 가격</th>
      						<th>제조사</th>
      					</tr>
      				</thead>
      				<tbody>
      					<tr>
      						<td><img width="100px" height="100px" th:src="${product.imagePath}"></td>
      						<td id="productName" class="align-middle" th:text="${product.name}"></td>
      						<td id="productPrice" class="align-middle" th:text="${product.price}"></td>
      						<td class="align-middle" th:text="${product.menufacturer}"></td>
      					</tr>
      				</tbody>
      			</table>
      		</div>
      	</article>
      	
      	<article class="customer-info-area d-flex justify-content-center align-items-center">
      		<table border="1" class="table text-center">
      			<thead>
      				<tr>
      					<th>주문자</th>
      					<th>주문자 전화번호</th>
      					<th>주문자 주소</th>
      				</tr>
      			</thead>
      			
      			<tbody>
      				<tr>
      					<th id="userName" class="align-middle" th:text="${user.name}">
      					<th id="userPhoneNumber" class="align-middle" th:text="${user.phoneNumber}">
      					<th class="align-middle" th:text="${user.address}">
      				</tr>
      			</tbody>
      		</table>
      		
      		<table border="1" class="ml-4 table text-center">
      			<thead>
      				<tr>
      					<th>수신자</th>
      					<th>수신자 전화번호</th>
      					<th>수신자 주소</th>
      				</tr>
      			</thead>
      			
      			<tbody>
      				<tr>
      					<th id="userName" class="align-middle" th:text="${userProduct.name}">
      					<th id="userPhoneNumber" class="align-middle" th:text="${userProduct.phoneNumber}">
      					<th class="align-middle" th:text="${userProduct.address}">
      				</tr>
      			</tbody>
      		</table>
      	</article>
      	
      	<div class="btn class d-flex align-items-center justify-content-end">
      		<button type="button" class="m-3 btn btn-secondary">수정하기</button>
      		<button type="button" th:data-id="${product.id}" id="paid-btn" class="m-3 btn btn-success">결제하기</button>
      	</div>
      	
      </section>
      
      <script layout:fragment="script">
      	$(document).ready(function()
      	{
      		const IMP = window.IMP; // 판매자 코드를 설정을 하기 위한 함수
            IMP.init('imp00065124'); // 판매자 코드
            
            let productPrice = $("#productPrice").text(); //상품의 가격
            let productName = $("#productName").text(); // 상품의 이름
            let name = $("#userName").text(); //사용자 이름
            let phoneNumber = $("#userPhoneNumber").text(); // 사용자 휴대폰 번호
            
            $("#paid-btn").on("click", function() //결제 버튼을 누르면 가상 함수 실행
            {
            	let productId = $(this).data("id"); // 주문 id를 구분을 하기 위해서 상품 id를 얻어옵니다.
            	 
            	IMP.request_pay
                ({
                    pg: 'html5_inicis', // PG사
                    pay_method: 'card', // 결제 방법
                    merchant_uid: productId + productName + new Date().getTime(), // 주문 ID (상품id + 상품이름 + 주문시간)
                    //amount: productPrice, // 결제 금액
                    amount: 1,
                    name: productName, // 주문명
                    buyer_name: name, // 구매자 이름
                    buyer_tel: phoneNumber, // 구매자 전화번호
                    buyer_email: 'buyer@example.com', // 구매자 이메일
                },
                
                function(rsp) // 가상함수 호출
                {
                    if (rsp.success) // 결제가 성공을 하면 조건문 본문 수행
                    {
                        alert('결제가 완료되었습니다.'); 
                       	location.href = "/basic/mainPage-view"; // main페이지로 이동
                    } 
                    
                    else 
                    {
                        alert('결제 실패: ' + rsp.error_msg); // 결제가 실패를 하면 에러 메세지 출력
                    }
                }); 
            });
      	});
      </script>
      
</html>