<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
	
	<section layout:fragment="default-content" class="default-content">
		<nav class="navigator d-flex align-items-center">
			<ul class="nav d-flex justify-content-between w-100 m-5">
				<li class="nav-item"><a class="nav-link text-dark" href="https://www.google.com">SD</a></li>
				<li class="nav-item"><a class="nav-link text-dark" href="https://www.google.com">HG</a></li>
				<li class="nav-item"><a class="nav-link text-dark" href="https://www.google.com">RG</a></li>
				<li class="nav-item"><a class="nav-link text-dark" href="https://www.google.com">MG</a></li>
				<li class="nav-item"><a class="nav-link text-dark" href="https://www.google.com">PG</a></li>				
			</ul>
		</nav>
		
		<article class="new-and-top3 d-flex align-items-center justify-content-between">
			<div class="new-product ml-5">
				<img width="200px" height="250px" src="https://pics2.gundamboom.kr/web/product/small/137737001688448040_4477.JPG">
				<div class="new-product-name-input-area d-flex justify-content-center">
					<div class="new-product-name small">
						[MG]뉴 건담 Ver.ka
					</div>
				</div>
			</div>
			
			<div class="top3-product1 ml-5 mr-5">
				<img width="150px" height="150px" src="https://cafe24.poxo.com/ec01/figurepresso89/BhNwo1jckXH28PSBZRxpvrRNVBIPVsjIZXgklj2fzlwtz4XBkYsUeuG/tl2zOxkvgioVJTtBnfs8EcuagkLTXA==/_/web/product/big/201801/9673_shop1_552907.jpg">
				<div class="product-name">[메탈빌드] 아스트레아 TYPE-F</div>
			</div>
			
			<div class="top3-product2 ml-5 mr-5">
				<img width="150px" height="150px" src="https://cafe24.poxo.com/ec01/figurepresso89/BhNwo1jckXH28PSBZRxpvrRNVBIPVsjIZXgklj2fzlwtz4XBkYsUeuG/tl2zOxkvgioVJTtBnfs8EcuagkLTXA==/_/web/product/big/201801/9673_shop1_552907.jpg">
				<div class="product-name">[메탈빌드] 아스트레아 TYPE-F</div>
			</div>
			
			<div class="top3-product3 ml-5 mr-5">
				<img width="150px" height="150px" src="https://cafe24.poxo.com/ec01/figurepresso89/BhNwo1jckXH28PSBZRxpvrRNVBIPVsjIZXgklj2fzlwtz4XBkYsUeuG/tl2zOxkvgioVJTtBnfs8EcuagkLTXA==/_/web/product/big/201801/9673_shop1_552907.jpg">
				<div class="product-name">[메탈빌드] 아스트레아 TYPE-F</div>
			</div>
			
		</article>
		
		<div class="products d-flex flex-wrap">
			<div class="product1 ml-5 mr-5 mt-5">
				<img width="150px" height="150px" src="https://cafe24.poxo.com/ec01/figurepresso89/BhNwo1jckXH28PSBZRxpvrRNVBIPVsjIZXgklj2fzlwtz4XBkYsUeuG/tl2zOxkvgioVJTtBnfs8EcuagkLTXA==/_/web/product/big/201801/9673_shop1_552907.jpg">
				<div class="product-name">[메탈빌드] 아스트레아 TYPE-F</div>
			</div>	
			
			<div class="product1 ml-5 mr-5 mt-5">
				<img width="150px" height="150px" src="https://cafe24.poxo.com/ec01/figurepresso89/BhNwo1jckXH28PSBZRxpvrRNVBIPVsjIZXgklj2fzlwtz4XBkYsUeuG/tl2zOxkvgioVJTtBnfs8EcuagkLTXA==/_/web/product/big/201801/9673_shop1_552907.jpg">
				<div class="product-name">[메탈빌드] 아스트레아 TYPE-F</div>
			</div>	
			
			<div class="product1 ml-5 mr-5 mt-5">
				<img width="150px" height="150px" src="https://cafe24.poxo.com/ec01/figurepresso89/BhNwo1jckXH28PSBZRxpvrRNVBIPVsjIZXgklj2fzlwtz4XBkYsUeuG/tl2zOxkvgioVJTtBnfs8EcuagkLTXA==/_/web/product/big/201801/9673_shop1_552907.jpg">
				<div class="product-name">[메탈빌드] 아스트레아 TYPE-F</div>
			</div>	
			
			<div class="product1 ml-5 mr-5 mt-5">
				<img width="150px" height="150px" src="https://cafe24.poxo.com/ec01/figurepresso89/BhNwo1jckXH28PSBZRxpvrRNVBIPVsjIZXgklj2fzlwtz4XBkYsUeuG/tl2zOxkvgioVJTtBnfs8EcuagkLTXA==/_/web/product/big/201801/9673_shop1_552907.jpg">
				<div class="product-name">[메탈빌드] 아스트레아 TYPE-F</div>
			</div>	
			
			<div class="product1 ml-5 mr-5 mt-5">
				<img width="150px" height="150px" src="https://cafe24.poxo.com/ec01/figurepresso89/BhNwo1jckXH28PSBZRxpvrRNVBIPVsjIZXgklj2fzlwtz4XBkYsUeuG/tl2zOxkvgioVJTtBnfs8EcuagkLTXA==/_/web/product/big/201801/9673_shop1_552907.jpg">
				<div class="product-name">[메탈빌드] 아스트레아 TYPE-F</div>
			</div>	
			
			<div class="product1 ml-5 mr-5 mt-5">
				<img width="150px" height="150px" src="https://cafe24.poxo.com/ec01/figurepresso89/BhNwo1jckXH28PSBZRxpvrRNVBIPVsjIZXgklj2fzlwtz4XBkYsUeuG/tl2zOxkvgioVJTtBnfs8EcuagkLTXA==/_/web/product/big/201801/9673_shop1_552907.jpg">
				<div class="product-name">[메탈빌드] 아스트레아 TYPE-F</div>
			</div>	
			
			<div class="product1 ml-5 mr-5 mt-5">
				<img width="150px" height="150px" src="https://cafe24.poxo.com/ec01/figurepresso89/BhNwo1jckXH28PSBZRxpvrRNVBIPVsjIZXgklj2fzlwtz4XBkYsUeuG/tl2zOxkvgioVJTtBnfs8EcuagkLTXA==/_/web/product/big/201801/9673_shop1_552907.jpg">
				<div class="product-name">[메탈빌드] 아스트레아 TYPE-F</div>
			</div>	
			
			<div class="product1 ml-5 mr-5 mt-5">
				<img width="150px" height="150px" src="https://cafe24.poxo.com/ec01/figurepresso89/BhNwo1jckXH28PSBZRxpvrRNVBIPVsjIZXgklj2fzlwtz4XBkYsUeuG/tl2zOxkvgioVJTtBnfs8EcuagkLTXA==/_/web/product/big/201801/9673_shop1_552907.jpg">
				<div class="product-name">[메탈빌드] 아스트레아 TYPE-F</div>
			</div>			
		</div>
		
	</section>	
</html>