<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<section layout:fragment="default-content" class="default-content">

    <!-- 이달의 신제품과 TOP3를 같은 행에 나란히 표시 -->
    <div class="new-and-top3-products-section mt-3">
        <h4>이달의 신제품과 TOP3</h4>
        <div class="d-flex flex-wrap justify-content-between border border-dark">
            <div class="d-flex align-items-center mt-4">
            
                <!-- 신제품 표시 -->
                <div class="new-products" th:each="product : ${productViewList}" th:if="${product.division == '신제품'}">
                    <div class="new-product ml-5">
                    
                        <img id="new-img" th:data-id="${product.productId}" width="200px" height="250px" th:src="${product.imagePath}" alt="신제품 이미지입니다.">
                        
                        <div class="new-product-name-input-area d-flex justify-content-center">
                            <div th:data-id="${product.productId}" class="new-product-name small mt-1" th:text="${product.name}">
                                [MG]뉴 건담 Ver.ka
                            </div>
                        </div>
                        <div class="new-product-price-area mt-2 d-flex justify-content-center">
                            <div class="small" th:text="|${product.price}원|"></div>
                        </div>
                    </div>
                </div> 
                
                <!-- 이달의 TOP3 표시 -->
                <div class="top3-products" th:each="product : ${productViewList}" th:if="${product.division == '이달의 TOP3'}">
                    <div class="top3-product ml-5 mr-5">
                    
                    	<div class="img-space d-flex justify-content-center">
                    		<img class="top-3-img ml-5" th:data-id="${product.productId}" width="150px" height="150px" th:src="${product.imagePath}" alt="상품 사진입니다.">
                    	</div>
                    	
                        <div class="name-spaces d-flex justify-content-center mt-2">
                        	<div th:data-id="${product.productId}" class="top-3-product-name ml-5" th:text="${product.name}">[메탈빌드] 아스트레아 TYPE-F</div>
                        </div>
                        
                        <div class="top3-product-price-area d-flex justify-content-center mt-2">
                        	<div class="small text-dark ml-5" th:text="|${product.price}원|"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<h4 class="mt-5">일반 제품</h4>
    <!-- 일반 제품 섹션 -->
    <div class="d-flex justify-content-start products-section flex-wrap">
        
        <div class="product" th:each="product : ${productViewList}" th:if="${product.division == 'Normal'}">
            <div class="mr-3 mt-3">
            
            	<div class="img-space d-flex justify-content-center">
            		<img th:data-id="${product.productId}" class="mt-3 product-img" width="150px" height="150px" th:src="${product.imagePath}">
            	</div>
                
                <div class="name-space d-flex justify-content-center">
                	<div th:data-id="${product.productId}" class="product-name mt-2" th:text="${product.name}">[메탈빌드] 아스트레아 TYPE-F</div>
                </div>
                
                <div class="product-price small mt-2 d-flex justify-content-center" th:text="|${product.price}원|">70000원</div>
            </div>
        </div>
        <!-- <button th:if="${status.last}" type="button" class="btn btn-success" th:data-last-id="${product.productId}">더보기</button> -->
    </div>
</section>    

<script layout:fragment="script">
	$(document).ready(function()
	{
		$("#new-img").on("click", function()
		{
			let productId = $(this).data("id");
			location.href="/basic/purchase-view/" + productId;
		});
		
		$(".new-product-name").on("click", function()
		{
			let productId = $(this).data("id");
			location.href="/basic/purchase-view/" + productId;
		});
		
		$(".top-3-img").on("click", function()
		{
			let productId = $(this).data("id");
			location.href="/basic/purchase-view/" + productId;
		});
		
		$(".top-3-product-name").on("click", function()
		{
			let productId = $(this).data("id");
			location.href="/basic/purchase-view/" + productId;
		});
		
		$(".product-img").on("click", function()
		{
			let productId = $(this).data("id");
			location.href="/basic/purchase-view/" + productId;
		});
		
		$(".product-name").on("click", function()
		{
			let productId = $(this).data("id");
			location.href="/basic/purchase-view/" + productId;
		});
		
	});
</script>
</html>