<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
      
      <section layout:fragment="default-content" class="default-content">
      
      	<div class="user-info-input-area d-flex">
      		<div class="left-pading"></div>
      		<div class="center-pading d-flex">
      			<article class="item-area d-flex justify-content-end align-items-center">
      				<div class="item-input">
      					<h5 class="mt-5 mr-2">이름</h5>
      					<h5 class="mt-5 mr-2">주소</h5>
      					<h5 class="mt-5 mr-2">휴대폰</h5>
      				</div>
      			</article>
      			<article class="input-area d-flex justify-content-start align-items-center">
      				<div class="info-input">
      				
      					<div class="input-group input-group-sm mt-5 ml-2">
						  <input type="text" id="name-input" class="form-control">
						</div>
						
      					<div class="input-group input-group-sm mt-5 ml-2">
						  <input type="text" id="address-input" class="form-control">
						</div>
						
      					<div class="input-group input-group-sm mt-5 ml-2">
						  <input type="text" id="phoneNumber-input" class="form-control">
						</div>
						
      				</div>
      			</article>
      		</div>
      		<div class="right-pading"></div>
      	</div>
      	<div class="btn-area d-flex justify-content-center">
      		<button type="button" id="buy-btn" th:data-id="${productId}" class="btn btn-success">구매하기</button>
      	</div>
      	
      </section>
      
      <script layout:fragment="script">
      	$(document).ready(function()
      	{
      		const IMP = window.IMP;
            IMP.init('imp00065124'); // 아임포트 키 입력
            
      		$("#buy-btn").on("click", function()
      		{
      			let loginId = "";
      			let name = $("#name-input").val();
      			let address = $("#address-input").val();
      			let phoneNumber = $("#phoneNumber-input").val();
      			let status = "결제중";
      			let productId = $(this).data("id");
      			
      			if(name == "")
      			{
      				alert("수신자의 이름을 입력해주세요.");
      				return;
      			}
      			
      			else if(address == "")
      			{
      				alert("수신자의 주소를 입력해주세요.");
      				return;
      			}
      			
      			else if(phoneNumber == "")
      			{
      				alert("수신자의 전화번호를 입력해주세요.");
      				return;
      			}
      			
      			$.ajax
      			({
					type:"post",
					url:"/buy/purchaseDelivery",
					data:{"name":name, "address":address, "phoneNumber":phoneNumber, "status":status, "productId":productId},
					success:function(data)
					{
						if(data.result == "success")
						{
							alert("배송정보 저장 성공");
						}
						else
						{
							alert("배송정보 저장 실패");
						}
					}
					,error:function()
					{
						alert("배송정보 저장 에러");
					}
      			})
      		});
      	});
      </script>
      
</html>