<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
	
	<section layout:fragment="default-content" class="default-content d-flex">
		
		<article class="image-area d-flex justify-content-center align-items-center border mr-3">
			<div class="image bg-primary">
				<img width="400px" height="400px" src="https://pics2.gundamboom.kr/web/product/small/687501001560741981_2510921.jpg">
			</div>
		</article>
		
		<article class="info-area d-flex justify-content-center align-items-start">
			<div class="info ">
				<div class="product-info mt-5 w-100">
				  <b class="d-flex justify-content-center">[MG]뉴건담</b>
				  <hr color="black">
				  
				  <div class="manufacturer d-flex mt-5">
					  <h6 class="small w-100 ml-4">제조사</h6>
					  <h6 class="small w-100 d-flex justify-content-end mr-4">반다이</h6>
				  </div>
				  <hr color="gray">
				  
				  <div class="manufacturer d-flex mt-5">
					  <h6 class="small w-100 ml-4">판매가</h6>
					  <h6 class="small w-100 d-flex justify-content-end mr-4">50000원</h6>
				  </div>
				  <hr color="gray">
				  
				  <div class="manufacturer d-flex mt-5">
					  <h6 class="small w-100 ml-4">등급</h6>
					  <h6 class="small w-100 d-flex justify-content-end mr-4">MG</h6>
				  </div>
				  <hr color="gray">
				</div>
				
				<div class="btns d-flex align-items-center justify-content-center">
					<button type="button" class="ml-4 btn btn-success">구매하기</button>
					<button type="button" class="ml-4 btn btn-success">장바구니</button>
					<button type="button" class="ml-4 btn btn-danger">찜하기</button>
				</div>
			</div>
			
			
		</article>
	
	</section>
	
</html>