<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
	
	<section layout:fragment="default-content" class="default-content d-flex">
		
		<article class="image-area d-flex justify-content-center align-items-center border mr-3">
			<div class="image bg-primary">
				<img width="400px" height="400px" th:src="${product.imagePath}">
			</div>
		</article>
		
		<article class="info-area d-flex justify-content-center align-items-start">
			<div class="info">
				<div class="product-info mt-5 w-100">
				  <b class="d-flex justify-content-center" id="product-name" th:text="${product.name}">[MG]뉴건담</b>
				  <hr color="black">
				  
				  <div class="manufacturer d-flex mt-5">
					  <h6 class="small w-100 ml-4">제조사</h6>
					  <h6 th:text="${product.menufacturer}" class="small w-100 d-flex justify-content-end mr-4">반다이</h6>
				  </div>
				  <hr color="gray">
				  
				  <div class="manufacturer d-flex mt-5">
					  <h6 class="small w-100 ml-4">판매가</h6>
					  <h6 th:text="${product.price}" class="small w-100 d-flex justify-content-end mr-4">50000원</h6>
				  </div>
				  <hr color="gray">
				  
				  <div class="manufacturer d-flex mt-5">
					  <h6 class="small w-100 ml-4">등급</h6>
					  <h6 th:text="${product.category}" class="small w-100 d-flex justify-content-end mr-4">MG</h6>
				  </div>
				  <hr color="gray">
				</div>
				
				<div class="btns d-flex align-items-center justify-content-center">
					<button type="button" th:data-id="${productId}" id="buy-btn" class="ml-4 btn btn-success">구매하기</button>
					<button type="button" class="ml-4 btn btn-success">장바구니</button>
					<button type="button" class="ml-4 btn btn-danger">찜하기</button>
				</div>
				<h5 id="loginId" th:text="${session.loginId}"></h5>
			</div>
			
		</article>
	</section>
	
	<script layout:fragment="script">
		$(document).ready(function()
		{
			$("#buy-btn").on("click", function()
			{
				/*
					아래의 코드들은 주문 기능을 작성을 할 때 참고해야합니다 삭제하지 말아주세요.
					let loginId = $("#loginId").text();
					alert(loginId);
				*/
				location.href="/basic/orderPage-view";
			});
		});
	</script>
</html>