<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
      
      <section layout:fragment="default-content" class="default-content">
      
      	<div class="shopping-cart-area">
      		<table border="1" class="text-center table">
	      		<thead>
	      			<tr>
	      				<th>상품 이미지</th>
	      				<th>상품 이름</th>
	      				<th>수량</th>
	      				<th>삭제</th>
	      			</tr>
	      		</thead>
	      		<tbody>
	      			<tr th:each="cart : ${shoppingCartList}">
	      				<td><img height="100px" width="100px" th:src="${cart.imagePath}"></td>
	      				<td th:text="${cart.name}" class="align-middle">뉴건담</td>
	      				<td th:text="${cart.count}">수량</td>
	      				<td class="align-middle"><button th:data-id="${cart.id}" class="delete-btn btn btn-danger">삭제</button></td>
	      			</tr>
	      		</tbody>
      		</table>
      		
      		<button th:data-id="${userId}" class="all-delete btn btn-danger">모두 삭제</button>
      	</div>
      </section>
      
      <script layout:fragment="script">
      	$(document).ready(function()
      	{
      		$(".delete-btn").on("click", function()
      		{
      			let shoppingCartId = $(this).data("id");
      			
      			$.ajax
      			({
      				type:"post",
      				url:"/shoppingCart/deleteShoppingCart",
      				data:{"shoppingCartId":shoppingCartId},
      				success:function(data)
      				{
      					if(data.result == "success")
      					{
      						alert("삭제 성공");
      						location.reload();
      					}
      					else
      					{
      						alert("삭제 실패");
      					}
      				}
      				,error:function()
      				{
      					alert("삭제 에러");
      				}   
      			});
      		});
      		
      		$(".all-delete").on("click", function()
      		{
      			let userId = $(this).data("id"); // 전부 삭제를 하기 위한 기준은 사용자 id이다.
      			
				$.ajax
				({
					type:"post",
					url:"/shoppingCart/allDeleteShoppingCart",
					data:{"userId":userId},
					success:function(data)
					{
						if(data.result == "success")
						{
							alert("전부 삭제 성공.");
							location.reload();
						}
						else
						{
							alert("전부 삭제 실패.");
						}
					}
					,error:function()
					{
						alert("전부 삭제 에러!!!");
					}
				});
      		});
      	});    	
      </script>
</html>