<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
        
		<section layout:fragment="default-content" class="default-content">
			<article class="input-page d-flex">
				<div class="left-area"></div>
				<div class="center-area">
					<!-- id를 입력하는 부분 -->
					<div>
						<div class="input-group mt-5">
						  <input id="id-input" type="text" class="form-control" placeholder="Id를 입력해주세요.">
						  <button id="is-duplicate" class="btn btn-success">중복 확인</button>
						</div>
						<div class="small text-danger d-none" id="duplicateText">중복된 id입니다.</div>
						<div class="samll text-success d-none" id="availableText">사용 가능한 id입니다.</div>
					</div>
					<!-- id를 입력하는 부분 -->
					
					<!-- password를 입력하는 부분 -->
					<div>
						<div class="input-group mt-5">
						  <input id="password-input" type="password" class="form-control" placeholder="Password를 입력해주세요.">
						</div>
					</div>
					<!-- password를 입력하는 부분 -->
					
					<!-- password가 일치하는지 확인을 하기위해 다시 입력하는 부분 -->
					<div>
						<div class="input-group mt-5">
						  <input id="password-recheck" type="password" class="form-control" placeholder="Password를 재입력 해주세요.">
						</div>
					</div>
					<!-- password가 일치하는지 확인을 하기위해 다시 입력하는 부분 -->
					
					<!-- 이름을 입력하는 부분 -->
					<div>
						<div class="input-group mt-5">
						  <input id="name-input" type="text" class="form-control" placeholder="이름을 입력해주세요.">
						</div>
					</div>
					<!-- 이름을 입력하는 부분 -->
					
					<!-- 주소를 입력하는 부분 -->
					<div>
						<div class="input-group mt-5">
						  <input id="address-input" type="text" class="form-control" placeholder="주소를 입력해주세요.">
						  <button class="btn btn-success">주소 찾기</button>
						</div>
					</div>
					<!-- 주소를 입력하는 부분 -->
					
					<!-- 휴대폰 번호를 입력하는 부분 -->
					<div>
						<div class="input-group mt-5">
						  <input id="phoneNumber-input" type="text" class="form-control" placeholder="휴대폰을 입력해주세요.">
						</div>
					</div>
					<!-- 휴대폰 번호를 입력하는 부분 -->
					
					<!-- 서버에게 사용자 정보를 전송 -->
					<div>
						<div class="input-group mt-5 d-flex justify-content-center align-items-center">
						  <button id="join-btn" class="btn btn-success">회원가입</button>
						</div>
					</div>
					
					<div class="mt-5 d-flex justify-content-center move-to-login-page">
						<a href="/user/login-view">로그인</a>						
					</div>
					<!-- 서버에게 사용자 정보를 전송 -->
					
				</div>
				<div class="right-area"></div>				
			</article>
		</section>
	
	<script layout:fragment="script">
		$(document).ready(function()
		{
			// 중복 확인 여부
			var checkDuplicate = false; //중복확인 버튼을 눌렀는지 확인을 하기위한 전역변수
			
			// 중복 여부
			var isDuplicateId = true; //중복된 id인지 확인을 하기위한 전역변수
			
			$("#id-input").on("input", function() //사용자가 키보드로 입력을 하면 본문이 수행이 됩니다
			{
				checkDuplicate = false; //중복 확인을 체크하는 변수에 거짓을 대입을 합니다(checkDuplicate는 버튼을 누르지 않은 상태가 됩니다)
				isDuplicate = true; // 중복 상태 유무를 확인을 하는 변수에 참을 대입(isDuplicate는 중복이 되었다는 상태이다)
				
				// 표시가 되는 값을 초기화
				$("#availableText").addClass("d-none"); // 화면에 표시를 하지 않습니다
				$("#duplicateText").addClass("d-none"); //화면에 표시를 하지않습니다
			});
			
			$("#is-duplicate").on("click", function()
			{
				let id = $("#id-input").val();
				
				if(id == "")
				{
					alert("아이디를 입력하세요.");
					return;
				}
				
				$.ajax
				({
					type:"get",
					url:"/user/isDuplicate",
					data:{"loginId":id},
					success:function(data)
					{
						checkDuplicate = true;
						isDuplicateId = data.isDuplicate;
						
						if(data.isDuplicate)
						{
							$("#duplicateText").removeClass("d-none");
							$("availableText").addClass("d-none");
						}
						
						else
						{
							$("#availableText").removeClass("d-none");
							$("#duplicateText").addClass("d-none");
						}
					}
					,error:function()
					{
						alert("중복 확인 중 에러가 발생하였습니다.");
					}
				});
			});
				
			$("#join-btn").on("click", function()
			{
				let id = $("#id-input").val()
				let password = $("#password-input").val();
				let passwordRecheck = $("#password-recheck").val();
				let name = $("#name-input").val();
				let address = $("#address-input").val();
				let phoneNumber = $("#phoneNumber-input").val();
				
				if(id == "")
				{
					alert("id를 입력해주세요.");
					return;
				}
				
				else if(!checkDuplicate)
				{
					alert("아이디 중복확인을 해주세요.");
					return;
				}
				
				else if(isDuplicateId)
				{
					alert("아이디가 중복되었습니다.");
					return;
				}
				
				else if(password == "")
				{
					alert("Password를 입력해주세요.");
					return;
				}
				else if(passwordRecheck == "")
				{
					alert("Password 확인란을 입력해주세요.");
					return;
				}
				else if(password != passwordRecheck)
				{
					alert("패스워드가 일치하지 않습니다.");
					return;
				}
				else if(name == "")
				{
					alert("이름을 입력해주세요.");
					return;
				}
				else if(address == "")
				{
					alert("주소를 입력해주세요.");
					return;
				}
				else if(phoneNumber == "")
				{
					alert("휴대폰 번호를 입력해주세요.");
					return;
				}
				
				$.ajax
				({
					type:"post",
					url:"/user/join",
					data:{"loginId":id, "password":password, "name":name, "address":address, "phoneNumber":phoneNumber},
					success:function(data)
					{
						if(data.result == "success")
						{
							location.href="/user/login-view";
						}
						else
						{
							alert("회원가입 실패");
						}
					}
					,error:function()
					{
						alert("회원가입 에러");
					}
				});
			});
		});
	</script>
</html>