<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
        
        <section layout:fragment="default-content" class="default-content">
        	<article class="mt-5 input-page d-flex align-items-start justify-content-center">
        	
        		<div class="member-input d-flex justify-content-center align-items-center">
        			<div class="input-area">
	        			<div class="jubgement">
	        				<h5>회원 로그인</h5>
	        			</div>
        				<div class="input-group mt-5">
						  <input type="text" id="id-input" class="form-control" placeholder="아이디를 입력을 하세요.">
						</div>
						<div class="input-group mt-3">
						  <input type="password" id="password-input" class="form-control" placeholder="Password를 입력을 하세요.">
						</div>
						<div class="d-flex align-items-center justify-content-center">
							<button class="mt-5 btn btn-success" id="member-login-button">로그인</button>
						</div>
        			</div>
        		</div>
        		
        		<div class="nonmember-input d-flex justify-content-center align-items-center">
        			<div class="non-member-input-area">
        				<div class="jubgement">
	        				<h5>비회원 로그인</h5>
	        			</div>
        				<div class="input-group mt-5">
						  <input type="text" class="form-control" placeholder="주문자를 입력하세요.">
						</div>
						<div class="input-group mt-3">
						  <input type="text" class="form-control" placeholder="주문번호를 입력하세요.">
						</div>
						<div class="d-flex align-items-center justify-content-center">
							<button class="mt-5 btn btn-secondary">비회원 로그인</button>
						</div>
        			</div>
        		</div>
        	</article>
        	
        	<div class="move-to-join-page d-flex justify-content-center">
        		<a href="/user/join-view">회원가입</a>
        	</div>
        </section>
        
        <script layout:fragment="script">
        	$(document).ready(function()
        	{
        		$("#member-login-button").on("click", function()
        		{
        			let id = $("#id-input").val();
        			let password = $("#password-input").val();

					if(id == "")
					{
						alert("Id를 입력해주세요.");
						return;
					}
					else if(password == "")
        			{
						alert("Password를 입력해주세요.");
						return;
        			}
        			
					$.ajax
					({
						type:"post",
						url:"/user/login",
						data:{"loginId":id, "password":password},
						success:function(data)
						{
							if(data.result == "success")
							{
								location.href="/basic/mainPage-view";
							}
							else
							{
								alert("로그인 실패");
							}
						}
						,error:function()
						{
							alert("로그인 에러");
						}
					});
        		});	
        	});
        </script>
</html>