@charset "UTF-8";

#wrap
{
	width: 1200px;
	margin: 0 auto;
}

header
{
	height: 100px;
}

header > .logo
{
	width: 300px;
	height: 100px;
}

header > .search
{
	width: 600px;
	height: 100px;
}

header > .user-name
{
	width: 150px;
	height: 100px;
}

header > .move-to-administrator-page
{
	width: 150px;
	height: 100px;
}

.default-content > .input-page
{
	width: 1200px;
	height: 700px;
}

.default-content > .input-page > .left-area
{
	width: 400px;
	height: 700px;
}

.default-content > .input-page > .center-area
{
	width: 400px;
	height: 700px;
}

.default-content > .input-page > .right-area
{
	width: 400px;
	height: 600px;
}

.default-content > .input-page > .member-input
{
	width: 500px;
	height: 500px;
}

.default-content > .input-page > .member-input > .input-area
{
	width: 300px;
	height: 200px;
}

.default-content > .input-page > .nonmember-input
{
	width: 500px;
	height: 500px;
}

.default-content > .input-page > .nonmember-input > .non-member-input-area
{
	width: 300px;
	height: 200px;
}

.default-content > .navigator
{
	width: 1200px;
	height: 50px;
}

.default-content > .new-and-top3 /* 신상품과 이 달의 Top3 제품을 표시하기 위한 영역입니다 */
{
	width: 1200px;
	height: 400px;
}

.default-content > .new-and-top3 > .new-product
{
	width: 200px;
	height: 300px;
}

.default-content > .new-and-top3 > .top3-product1
{
	width: 150px;
	height: 200px;
}

.default-content > .new-and-top3 > .top3-product2
{
	width: 150px;
	height: 200px;
}

.default-content > .new-and-top3 > .top3-product3
{
	width: 150px;
	height: 200px;
}

.default-content > .products-section
{
	width: 1200px;
}

.products-section > .product
{
	width: 400px;
	height: 400px;
}

.default-content > .admin-page
{
	width: 1200px;
}

.admin-page > .search-area
{
	width: 1200px;
	height: 100px;
}

.search-area > .left-area
{
	width: 300px;
	height: 100px;
}

.search-area > .input-area
{
	width: 600px;
	height: 100px;
}

.search-area > .right-area
{
	width: 300px;
	height: 100px;
}

.default-content > .admin-page > .list-page
{
	width: 1200px;
}

.default-content > .base-area
{
	width: 600px;
	height: 700px;
	margin: 0 auto;
}

footer
{
	height: 100px;
}